In [ ]:
import sqlitecloud
SQLiteCloud_connectionstring= "sqlitecloud://cqzdwoclsz.sqlite.cloud:8860?apikey=8ZBRx9VjOUr3L8r7arbcH8X27UpFfHwvq7qiaULwWdE"
conn = sqlitecloud.connect(SQLiteCloud_connectionstring)
cursor = conn.execute("USE DATABASE Formula1.db")

In [ ]:
import pandas as pd

In [ ]:
positionfrom= 1
positionuntil=3
yearfrom= 1982
yearuntil=2024

In [ ]:
def generate_dataset(yearfrom,yearuntil,positionfrom,positionuntil):
    query = f"""
    SELECT ra.raceId, ra.year,ra.round,ra.circuitId,re.driverId,re.constructorId,
    re.grid,cast(re.position as int) as position,re.points,re.statusId,st.status,
    re.laps,re.fastestLap,re.fastestLapTime
    FROM races ra 
    JOIN results re ON ra.raceId = re.raceId
    JOIN status st ON st.statusId= re.statusId
    WHERE position >= {positionfrom} AND position <= {positionuntil} AND ra.year >= {yearfrom} AND ra.year <= {yearuntil} 
    ORDER BY ra.year desc,ra.round, position"""
    cursor = conn.execute(query)
    df = pd.DataFrame(cursor.fetchall(), columns=["raceId","year","round","circuitId","driverId","constructorId","grid","position","points","statusId", "status","laps","fastestLap","fastestLapTime"])
    return df

In [ ]:
df1= generate_dataset(yearfrom,yearuntil,positionfrom,positionuntil)

In [ ]:
df1.head(100)